<% provide(:title, @user.name) %>

<div class="user-profile">
  <div class="profile-header">
    <div class="profile-picture">
      <%= gravatar_for @user, size: 150 %>
    </div>
    <div class="profile-info">
      <h1 class="user-name"><%= @user.name %></h1>
    </div>
  </div>
  <div class="profile-details">
    <h2>About <%= @user.name %></h2>
    <p>More user details can go here, such as bio, email, or other attributes. Customize as needed!</p>
  </div>
</div>
